body,
html {
    background-color: whitesmoke;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #61ac40;
}

.navbar {
    background-color: #ffffff;
}

div.dropdown-menu a:hover {
    color: #61ac40;
}

.register-container {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}

.login-container {
    display: flex;
    justify-content: center;
}

.login-card {
    display: flex;
    flex-basis: 40%;
}


/* .hea {
    background-color: #1d1d1d;
    color: #ffffff;
} */

.para {
    display: flex;
    justify-content: center;
}

.para-txt {
    display: flex;
    justify-content: center;
    max-width: 700px;
}

.display {
    color: #1d1d1d;
}

.head {
    background-color: #1d1d1d;
    color: #ffffff;
}

.head-content {
    padding: 20px;
}