body,
html {
  background-color: #1d1d1d;
}

.navbar {
  background-color: #1d1d1d;
}

.navbar-light .navbar-nav .nav-link {
  color: #ccc;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

div.dropdown-menu a:hover {
  color: #aec643;
}

.register-container {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.login-container {
  display: flex;
  justify-content: center;
}



/* .hea {
    background-color: #1d1d1d;
    color: #ffffff;
} */

.para {
  display: flex;
  justify-content: center;
}

.para-txt {
  display: flex;
  justify-content: center;
  max-width: 700px;
}

.display {
  color: #1d1d1d;
}

.head {
  background-color: #1d1d1d;
  color: #ffffff;
}

.head-content {
  padding: 20px;
}

a {
  color: #1d1d1d;
}

a:hover {
  color: #aec643;
  text-decoration: none;
}

.content {
  background-color: #1d1d1d;
}

.single {
  padding: 30px;
  color: #ccc;
}

.lead-text {
  color: #ccc;
  font-size: 18px;
}

.year {
  font-size: 30 px;
}

.card-footer {
  background-color: #ffffff;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.iframe {
  height: 900px;
  width: 100%;
  border: none;
}

.signup {
  color: #ccc;
}

.signup:hover {
  color: #fff;
}



.top {
  background-color: #081C24;
}

.input-search {
  width: 100%;
  height: 40px;
  display: block;
  text-align: center;
}

.input-search::placeholder {
  text-align: center;
}

.bottom {
  background: #FF1493;
  height: 200px;
  display: flex;
  align-items: center;
  filter: brightness(75%)
}

/* .round-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: green;
} */

.profile-pic {
  width: 140px;
  border-radius: 50%;
  margin-left: 3rem;
}

.user-name {
  color: white;
  margin-left: 2rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.user-p {
  color: #B9BEB3;
  color: white;
  margin-top: 5rem;
  margin-left: -8rem;
  margin-right: auto;
  font-size: 0.9rem;
}

.balance {
  margin-right: 2rem;
  color: white;
  margin-bottom: 9rem;
}

.no-movies {
  color: white;
  margin-right: 25rem;
  margin-top: 8rem;
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700
}

.card-text {
  font-family: Arial, Helvetica, sans-serif
}