{% extends "layout.html" %}

{% block title %}
{{lookup_title["title"]}}
{% endblock %}

{% block style %}
<style>
    .rate {
        border: 1px solid white;
        border-radius: 47%;
        padding: 9px;
    }

    .rate:hover {
        background-color: #ffffff;
        color: #1d1d1d;
    }

    .play {
        font-size: 15px;
        color: #ffffff;
    }

    .play-a {
        color: #ffffff;
    }
</style>
{% endblock %}

{% block main %}

<section class="content">
    <div class="container">
        <div class="single row">
            <div class="col-md-4">
                <a href="{{lookup_title["website"]}}"><img src="{{lookup_title["poster"]}}" class="img-fluid"
                        alt="Responsive image"></a>
            </div>

            <div class="col-md-8">
                <h1>{{lookup_title["title"]}} <span class="text-muted year">({{lookup_title["year"]}})</span></h1>
                <a class="play-a" href="{{lookup_title["website"]}}" target="_blank"><i
                        class="play far fa-play-circle"></i>
                    play trailer</a>

                <p class="text-muted my-4">Realeased: {{lookup_title["released"]}}</p>

                <div>
                    <span class="text-muted tooltiptext"> <i class="rate fas fa-star"></i> Rating</span>
                </div>

                <div class="text my-4">
                    <h5>Overview</h5>
                    <p class="lead lead-text">{{lookup_title["plot"]}}</p>

                </div>

                <h5 class="">Featured Crew</h5>
                <div class="row">

                    <div class="col-md-4">
                        <h6 class="lead">Director</h6>
                        <p class="lead-text">{{lookup_title["director"]}}</p>
                    </div>
                    <!-- <div class="col-md-4">
                        <h6 class="lead">Director, Screenplay</h6>
                        <p class="lead-text">Matt Cook, Screenplay</p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="lead">Screenplay</h6>
                        <p class="lead-text">Robert Mark Kamen</p>
                    </div> -->
                </div>
                <h5>Actors</h5>
                <div>
                    <p class="lead">{{lookup_title["actors"]}}</p>
                </div>
                <h5>Writer</h5>
                <div>
                    <p>{{lookup_title["writer"]}}</p>
                </div>
            </div>

        </div>

        <iframe src="{{lookup_title["website"]}}">
            <p>Your browser does not support iframes.</p>
        </iframe>


        <!-- <video width="400" controls>
            <source src="{{lookup_title["website"]}}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video> -->

    </div>

</section>

{% endblock %}